<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title></title>
  </head>
  <body>
    <div class='text-base text-red-500'>
      hello world
    </div>
    <div class='text-lg'>heollo world</div>
    <div class='text-2xl'>hello world</div>

    <!-- Padding -->
    <h1 class='text-3xl mt-10'>Padding</h1>
    <div class='text-2xl p-3'>hello world</div>
    <div class='text-2xl pt-3'>hello world</div>
    <div class='text-2xl pb-3'>hello world</div>
    <div class='text-2xl pl-3'>hello world</div>
    <div class='text-2xl pr-3'>hello world</div>

    <!-- Margin -->
    <h1 class='text-3xl mt-10'>Margin</h1>
    <div class='text-2xl m-3'>hello world</div>
    <div class='text-2xl mt-3'>hello world</div>
    <div class='text-2xl mb-3'>hello world</div>
    <div class='text-2xl ml-3'>hello world</div>
    <div class='text-2xl mr-3'>hello world</div>
    <div class='text-2xl my-3'>hello world</div>
    <div class='text-2xl mx-3'>hello world</div>

    <!-- list style -->
    <div class='p-5'>
      <h1 class='text-3xl'>List Style</h1>
      <ul class='list-disc'>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          fugit maiores excepturi officia optio repellendus odit! Laboriosam,
          quis nisi doloremque excepturi soluta omnis necessitatibus, repellat,
          natus magnam nulla possimus distinctio.</li>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
      </ul>
    </div>

    <!-- round -->
    <div class='w-32 h-32 bg-red-500 my-5'></div>
    <div class='w-32 h-32 bg-red-500 rounded my-5'></div>
    <div class='w-32 h-32 bg-red-500 rounded-2xl my-5'></div>
    <div class='w-32 h-32 bg-red-500 rounded-full my-5'></div>

    <!-- Custom -->
    <div class='text-[17px]'>17px sentence</div>
    <div class='bg-[#ccc]'>custom color</div>

  </body>
</html>